.search-form {
    min-width: 150px;
    width: 50%;
    display: flex;
    background: lightgray;
}

.mat-form-field {
    width: 80%;
}

.search-btn {
    width: 20%;
    display: grid;
    place-items: center;
    background: lightgray;
}

.search-btn:hover {
    cursor: pointer;
}

table {
    position: inherit;
    width: 100%;
}